<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">

<head>
    <%- include("./partials/head") %>
        <title>Error</title>
</head>

<body>
    <%- include("./partials/header") %>
        <div class="page-wrapper">
            <main class="page-error">
                <div class="page-error__content">
                    <% if(status==404){ %>
                        <div class="page-error__type">404</div>
                        <h1 class="page-error__title">Looks like you got lost</h1>
                        <p class="text-large">The page you're looking for doesn't exist or has been moved</p>
                        <div class="page-error__bottom"><a class="button button--primary" href="/"><span
                                    class="button__text">Back to home</span></a>
                        </div>
                        <% }else{ %>
                            <div class="page-error__type">403</div>
                            <h1 class="page-error__title">Looks like you do not have permission</h1>
                            <p class="text-large">The page you're looking for just only for Admin</p>
                            <div class="page-error__bottom"><a class="button button--primary" href="/logout"><span
                                        class="button__text">Log Out</span></a>
                            </div>
                            <% } %>
                </div>
            </main>
        </div>
        <%- include("./partials/footer") %>
</body>

</html>