<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">

<head>
    <%- include("./partials/head") %>
        <title>Manager</title>
</head>

<body>
    <%- include("./partials/header") %>
        <div class="sidebar-backdrop"></div>
        <div class="page-wrapper">
            <header class="header">
                <div class="header__inner">
                    <div class="container-fluid">
                        <div class="header__row row justify-content-between">
                            <div class="header__col-left col d-flex align-items-center">
                                <div class="header__left-toggle">
                                    <button class="header__toggle-menu toggle-sidebar" type="button">
                                        <svg class="icon-icon-menu">
                                            <use xlink:href="#icon-menu"></use>
                                        </svg>
                                    </button>
                                    <button class="header__toggle-search toggle-search">
                                        <svg class="icon-icon-search">
                                            <use xlink:href="#icon-search"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="header__search">
                                    <form class="form-search" action="#" method="GET">
                                        <div class="form-search__container">
                                            <span class="form-search__icon-left">
                                                <svg class="icon-icon-search">
                                                    <use xlink:href="#icon-search"></use>
                                                </svg>
                                            </span>
                                            <input id="main-search" class="form-search__input" type="text"
                                                placeholder="Search..." />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="header__col-right col d-flex align-items-center">
                                <div class="header__profile dropdown">
                                    <a class="header__profile-toggle dropdown__toggle" href="#" data-toggle="dropdown">
                                        <div class="header__profile-text">
                                            <span>
                                                <%= user.name %>
                                            </span>
                                        </div>
                                        <span class="icon-arrow-down">
                                            <svg class="icon-icon-arrow-down">
                                                <use xlink:href="#icon-arrow-down"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <div class="profile-dropdown dropdown-menu dropdown-menu--right">
                                        <a class="profile-dropdown__item dropdown-menu__item" href="/logout"
                                            tabindex="0">
                                            <span class="profile-dropdown__icon">
                                                <svg class="icon-icon-logout">
                                                    <use xlink:href="#icon-logout"></use>
                                                </svg>
                                            </span>
                                            <span>Logout</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <aside class="sidebar">
                <div class="sidebar__backdrop"></div>
                <div class="sidebar__container">
                    <div class="sidebar__top">
                        <div class="container container--sm">
                            <a class="sidebar__logo" href="/">
                                <img class="sidebar__logo-icon" src="/img/content/logotype.svg" alt="#" width="44" />
                                <div class="sidebar__logo-text">admin</div>
                            </a>
                        </div>
                    </div>
                </div>
            </aside>

            <main class="page-content">
                <div class="container">
                    <div class="page-header">
                        <h1 class="page-header__title">Products</h1>
                    </div>
                    <div class="toolbox">
                        <div class="toolbox__row row gutter-bottom-xs">
                            <div class="toolbox__left col-12 col-lg">
                                <div class="toolbox__left-row row row--xs gutter-bottom-xs">
                                    <div class="form-group form-group--inline col col-sm-auto">
                                        <div class="input-group input-group--white input-group--append">
                                            <select id="category-select-combobox" class="input js-input-select"
                                                data-placeholder="">
                                                <option value="0">All Categories</option>
                                                <% categories.forEach(category=> {%>
                                                    <option value="<%= category.id %>">
                                                        <%= category.title %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                            <span class="input-group__arrow">
                                                <svg class="icon-icon-keyboard-down">
                                                    <use xlink:href="#icon-keyboard-down"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="toolbox__right col-12 col-lg-auto">
                                <div class="toolbox__right-row row row--xs flex-nowrap">
                                    <div class="col-auto">
                                        <button class="button-add button-add--blue" data-modal="#addProduct">
                                            <span class="button-add__icon">
                                                <svg class="icon-icon-plus">
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                            <span class="button-add__text"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <div class="table-wrapper__content table-products table-collapse scrollbar-thin scrollbar-visible"
                            data-simplebar>
                            <table class="table table--lines">
                                <colgroup>
                                    <col class="colgroup-1">
                                    <col class="colgroup-2">
                                    <col class="colgroup-3">
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead class="table__header">
                                    <tr class="table__header-row">
                                        <th>
                                            <div class="table__checkbox table__checkbox--all">
                                                <label class="checkbox">
                                                    <input class="js-checkbox-all" type="checkbox"
                                                        data-checkbox-all="product">
                                                    <span class="checkbox__marker">
                                                        <span class="checkbox__marker-icon">
                                                            <svg class="icon-icon-checked">
                                                                <use xlink:href="#icon-checked"></use>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </label>
                                            </div>
                                        </th>
                                        <th class="d-none d-lg-table-cell">
                                            <span>ID</span>
                                        </th>
                                        <th class="table__th-sort">
                                            <span class="align-middle">Product Name</span>
                                        </th>
                                        <th class="table__th-sort">
                                            <span class="align-middle">Category</span>
                                        </th>
                                        <th class="table__th-sort">
                                            <span class="align-middle">Price</span>
                                        </th>
                                        <th class="table__th-sort d-none d-lg-table-cell">
                                            <span class="align-middle">Date</span>
                                        </th>
                                        <th class="table__actions"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="modal modal--panel modal--right" id="addProduct">
            <div class="modal__overlay" data-dismiss="modal"></div>
            <div class="modal__wrap">
                <div class="modal__window scrollbar-thin" data-simplebar>
                    <form method="POST" id="create-product-form">
                        <div class="modal__content">
                            <div class="modal__header">
                                <div class="modal__container">
                                    <h2 class="modal__title">Add Product</h2>
                                </div>
                            </div>
                            <div class="modal__body">
                                <div class="modal__container">
                                    <div class="row row--md">
                                        <div class="col-12 form-group form-group--lg">
                                            <label class="form-label">Product Name</label>
                                            <div class="input-group">
                                                <input name="product_name" class="input" type="text" placeholder=""
                                                    value="" required>
                                            </div>
                                        </div>
                                        <div class="col-12 form-group form-group--lg">
                                            <label class="form-label">Description</label>
                                            <div class="input-editor">
                                                <div name="description" class="js-description-editor">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 form-group form-group--lg">
                                            <label class="form-label">Category</label>
                                            <div class="input-group input-group--append">
                                                <select name="category_id" class="input js-input-select input--fluid"
                                                    data-placeholder="">
                                                    <% categories.forEach(category=> {%>
                                                        <option value="<%= category.id %>">
                                                            <%= category.title %>
                                                        </option>
                                                        <% }); %>
                                                </select><span class="input-group__arrow">
                                                    <svg class="icon-icon-keyboard-down">
                                                        <use xlink:href="#icon-keyboard-down"></use>
                                                    </svg></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 form-group form-group--lg">
                                            <label class="form-label">Price</label>
                                            <div class="input-group input-group--prepend">
                                                <div class="input-group__prepend"><span
                                                        class="input-group__symbol">$</span>
                                                </div>
                                                <input name="price" class="input" type="number" min="0" max="999999999"
                                                    placeholder="" value="0" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal__footer">
                                <div class="modal__container">
                                    <div class="modal__footer-buttons">
                                        <div class="modal__footer-button">
                                            <button class="button button--primary button--block"><span
                                                    class="button__text" type="submit">Create</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include("./partials/footer") %>
</body>

</html>