<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">

<head>
  <%- include("./partials/head") %>
    <title>Login</title>
</head>

<body>
  <%- include("./partials/header") %>
    <div class="page-wrapper">
      <main class="page-auth">
        <div class="page-auth__center">
          <div class="page-auth__gradient">
            <div class="page-auth__gradient-shape"></div>
            <div class="page-auth__gradient-shape"></div>
            <div class="auth-logo">
              <img class="auth-logo__icon" src="/img/content/logotype.svg" width="44" alt="#" />
              <div class="auth-logo__text">manager</div>
            </div>
            <div class="page-auth__gradient-column"></div>
          </div>
          <div class="auth-card card">
            <div class="auth-card__shape"></div>
            <div class="auth-card__shape"></div>
            <div class="card__wrapper">
              <div class="auth-card__left">
                <div class="auth-card__logo">
                  <div class="auth-logo">
                    <img class="auth-logo__icon" src="/img/content/logotype.svg" width="44" alt="#" />
                    <div class="auth-logo__text">manager</div>
                  </div>
                </div>
                <div id="auth-sidebar-bg-light" class="auth-card__bg auth-bg-image-light" />
              </div>
              <div id="auth-sidebar-bg-dark" class="auth-card__bg auth-bg-image-dark" />
            </div>
          </div>
          <form id="login-form" class="auth-card__right" method="POST">
            <div class="auth-card__top">
              <h1 class="auth-card__title">
                Welcome to <span class="text-theme">Manager</span>
              </h1>
              <p class="auth-card__text">
                Welcome back, please login <br />to your account.
              </p>
            </div>
            <div class="auth-card__body">
              <div class="form-group">
                <div class="input-group input-group--prepend">
                  <span class="input-group__prepend">
                    <svg class="icon-icon-user">
                      <use xlink:href="#icon-user"></use>
                    </svg></span>
                  <input class="input" type="email" name="email" placeholder="Email" required />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group--prepend">
                  <span class="input-group__prepend">
                    <svg class="icon-icon-password">
                      <use xlink:href="#icon-password"></use>
                    </svg></span>
                  <input class="input" type="password" name="password" placeholder="Password" required />
                </div>
              </div>
            </div>
            <div class="auth-card__bottom">
              <div class="auth-card__buttons">
                <div class="auth-card__button">
                  <a class="button button--secondary button--block" href="/signup"><span class="button__text">Sign
                      Up</span></a>
                </div>
                <div class="auth-card__button">
                  <button class="button button--primary button--block" type="submit">
                    <span class="button__text">Login</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </main>
    </div>
    <%- include("./partials/footer") %>
</body>

</html>