<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">

<head>
    <%- include("./partials/head") %>
        <title>Manager</title>
</head>

<body>
    <%- include("./partials/header") %>
        <div class="sidebar-backdrop"></div>
        <div class="page-wrapper">
            <header class="header">
                <div class="header__inner">
                    <div class="container-fluid">
                        <div class="header__row row justify-content-between">
                            <div class="header__col-left col d-flex align-items-center">
                                <div class="header__left-toggle">
                                    <button class="header__toggle-menu toggle-sidebar" type="button">
                                        <svg class="icon-icon-menu">
                                            <use xlink:href="#icon-menu"></use>
                                        </svg>
                                    </button>
                                    <button class="header__toggle-search toggle-search">
                                        <svg class="icon-icon-search">
                                            <use xlink:href="#icon-search"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="header__search" style="display: none;">
                                    <form class="form-search" action="#" method="GET">
                                        <div class="form-search__container">
                                            <span class="form-search__icon-left">
                                                <svg class="icon-icon-search">
                                                    <use xlink:href="#icon-search"></use>
                                                </svg>
                                            </span>
                                            <input class="form-search__input" type="text" placeholder="Search..." />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="header__col-right col d-flex align-items-center">
                                <div class="header__profile dropdown">
                                    <a class="header__profile-toggle dropdown__toggle" href="#" data-toggle="dropdown">
                                        <div class="header__profile-text">
                                            <span>
                                                <%= user.name %>
                                            </span>
                                        </div>
                                        <span class="icon-arrow-down">
                                            <svg class="icon-icon-arrow-down">
                                                <use xlink:href="#icon-arrow-down"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <div class="profile-dropdown dropdown-menu dropdown-menu--right">
                                        <a class="profile-dropdown__item dropdown-menu__item" href="/logout"
                                            tabindex="0">
                                            <span class="profile-dropdown__icon">
                                                <svg class="icon-icon-logout">
                                                    <use xlink:href="#icon-logout"></use>
                                                </svg>
                                            </span>
                                            <span>Logout</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <aside class="sidebar">
                <div class="sidebar__backdrop"></div>
                <div class="sidebar__container">
                    <div class="sidebar__top">
                        <div class="container container--sm">
                            <a class="sidebar__logo" href="/">
                                <img class="sidebar__logo-icon" src="/img/content/logotype.svg" alt="#" width="44" />
                                <div class="sidebar__logo-text">admin</div>
                            </a>
                        </div>
                    </div>
                </div>
            </aside>

            <main class="page-content">
                <div class="container">
                    <div class="card add-product card--content-center">
                        <div class="card__wrapper">
                            <div class="card__container">
                                <form class="add-product__form" method="POST" id="update-product-form"
                                    data-product-id="<%= product.id %>">
                                    <div class="add-product__row">
                                        <div class="add-product__right col-12">
                                            <div class="row row--md">
                                                <div class="col-12 form-group form-group--lg">
                                                    <label class="form-label">Product Name</label>
                                                    <div class="input-group">
                                                        <input name="product_name" class="input" type="text"
                                                            placeholder="" value="<%= product.productName %>" required>
                                                    </div>
                                                </div>
                                                <div class="col-12 form-group form-group--lg">
                                                    <label class="form-label">Description</label>
                                                    <div class="input-editor">
                                                        <div name="description" class="js-description-editor">
                                                            <%- product.description %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 form-group form-group--lg">
                                                    <label class="form-label">Category</label>
                                                    <div class="input-group input-group--append">
                                                        <select name="category_id"
                                                            class="input js-input-select input--fluid"
                                                            data-placeholder="">
                                                            <% categories.forEach(category=> {
                                                                if (category.id===product.categoryId) { %>
                                                                <option value="<%= category.id %>" selected="selected">
                                                                    <%= category.title %>
                                                                </option>
                                                                <%}else{ %>
                                                                    <option value="<%= category.id %>">
                                                                        <%= category.title %>
                                                                    </option>
                                                                    <%} }); %>
                                                        </select><span class="input-group__arrow">
                                                            <svg class="icon-icon-keyboard-down">
                                                                <use xlink:href="#icon-keyboard-down"></use>
                                                            </svg></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-12 form-group form-group--lg">
                                                    <label class="form-label">Price</label>
                                                    <div class="input-group input-group--prepend">
                                                        <div class="input-group__prepend"><span
                                                                class="input-group__symbol">$</span>
                                                        </div>
                                                        <input name="price" class="input" type="number" min="0"
                                                            max="999999999" placeholder="" value="<%= product.price %>"
                                                            required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add-product__submit">
                                                <div class="modal__footer-button">
                                                    <button class="button button--primary button--block" type="submit">
                                                        <span class=" button__text">Update</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <%- include("./partials/footer") %>
</body>

</html>