<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">

<head>
  <%- include("./partials/head") %>
    <title>Sign Up</title>
</head>

<body>
  <%- include("./partials/header") %>
    <div class="page-wrapper">
      <main class="page-auth">
        <div class="page-auth__center">
          <div class="page-auth__gradient">
            <div class="page-auth__gradient-shape"></div>
            <div class="page-auth__gradient-shape"></div>
            <div class="auth-logo">
              <img class="auth-logo__icon" src="/img/content/logotype.svg" width="44" alt="#" />
              <div class="auth-logo__text">manager</div>
            </div>
            <div class="page-auth__gradient-column"></div>
          </div>
          <div class="auth-card card">
            <div class="auth-card__shape"></div>
            <div class="auth-card__shape"></div>
            <div class="card__wrapper">
              <div class="auth-card__left">
                <div class="auth-card__logo">
                  <div class="auth-logo">
                    <img class="auth-logo__icon" src="/img/content/logotype.svg" width="44" alt="#" />
                    <div class="auth-logo__text">manager</div>
                  </div>
                </div>
                <div id="auth-sidebar-bg-light" class="auth-card__bg auth-bg-image-light" />
              </div>
              <div id="auth-sidebar-bg-dark" class="auth-card__bg auth-bg-image-dark" />
            </div>
          </div>
          <form id="signup-form" class="auth-card__right" method="POST" target="/api/signup">
            <div class="auth-card__top">
              <h1 class="auth-card__title">Create Account</h1>
            </div>
            <div class="auth-card__body">
              <div class="form-group">
                <div class="input-group input-group--prepend">
                  <span class="input-group__prepend">
                    <svg class="icon-icon-user">
                      <use xlink:href="#icon-user"></use>
                    </svg>
                  </span>
                  <input class="input" type="text" name="name" placeholder="Full name" required />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group--prepend">
                  <span class="input-group__prepend">
                    <svg class="icon-icon-email-2">
                      <use xlink:href="#icon-email-2"></use>
                    </svg>
                  </span>
                  <input class="input" type="email" name="email" placeholder="Email address" required />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group--prepend">
                  <span class="input-group__prepend">
                    <svg class="icon-icon-password">
                      <use xlink:href="#icon-password"></use>
                    </svg>
                  </span>
                  <input class="input" type="password" name="password" placeholder="Create a password" required />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group--prepend">
                  <span class="input-group__prepend">
                    <svg class="icon-icon-password">
                      <use xlink:href="#icon-password"></use>
                    </svg>
                  </span>
                  <input class="input" type="password" placeholder="Confirm your password" required />
                </div>
              </div>
              <div class="form-group">
                <label class="checkbox">
                  <input type="checkbox" checked />
                  <span class="checkbox__marker">
                    <span class="checkbox__marker-icon">
                      <svg class="icon-icon-checked">
                        <use xlink:href="#icon-checked"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="ml-2">I accept the
                    <a class="text-blue" href="#">terms &amp; conditions</a>
                  </span>
                </label>
              </div>
              <div class="auth-card__submit">
                <button class="button button--primary button--block" type="submit">
                  <span class="button__text">Create account</span>
                </button>
              </div>
            </div>
            <div class="auth-card__bottom">
              <div class="auth-card__sign">
                Already have account?
                <a class="text-blue" href="/login">Login</a>
              </div>
            </div>
          </form>
        </div>
      </main>
    </div>
    <%- include("./partials/footer") %>
</body>

</html>