#auth-sidebar-bg-light {
  background: #0081ff;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

#auth-sidebar-bg-dark {
  background: #0027b9;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }
