<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/vendor.min.css" />
<link rel="stylesheet" href="/css/common.css" />
<link rel="stylesheet" href="/css/mycustom.css" />
<link rel="apple-touch-icon" sizes="57x57" href="/img/content/favicons/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/img/content/favicons/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/img/content/favicons/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/img/content/favicons/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/img/content/favicons/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/img/content/favicons/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/img/content/favicons/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/img/content/favicons/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/content/favicons/apple-icon-180x180.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/img/content/favicons/android-icon-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/content/favicons/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/img/content/favicons/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/img/content/favicons/favicon-16x16.png" />
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>